.inherit-height {
    height: inherit;
}

.input-hover:hover {
    background-color: hsl(0, 0%, 96%);
}

.chat-hover:hover {
    background-color: hsl(0, 0%, 92%);
}

.chat-selected { 
    background-color: hsl(0, 0%, 90%) !important;
}

@import '~bootstrap/scss/bootstrap.scss';
@import '~font-awesome/scss/font-awesome.scss';
